# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ignore files created by npm
node_modules
package-lock.json

# Ignore the vendor file at root level and bundle for alternative installation
/vendor/
.bundle/

# Ignore folders related to IDEs
.vscode/

# LaTeX temporary and output files
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Build tool directories for auxiliary files
# latexmk
.fdb_latexmk/
# auctex
.auctex-auto/

# Common LaTeX package auxiliary files
*.nav
*.snm
*.vrb
*.idx
*.ilg
*.ind
*.acn
*.acr
*.alg
*.brf
*.glg
*.glo
*.gls
*.glsdefs
*.lol
*.tdo

# Generated PDF files (uncomment if you want to ignore compiled PDFs)
# *.pdf
